.review{
    display: flex;
    justify-content: space-between;

}

.icon{
    float: right;
    margin-left: 40%;
}
.bbb{
   margin-top: 20%;
}
.eee{
    display: flex;
    gap:20px;
    
   
}
.heart{
    display: flex;
    
}
.text,.text1{
    font-weight: bold;
  padding-left: 10px;
  padding-right: 20px;
}

.enroll{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 89, 0);
    border-radius: 35px;
    padding-bottom: 10px;
    padding-top: 10px;
   
    margin: 5px;
    font-weight: bold;
    color: white;
    font-size: medium;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}










